{% extends 'home/base.html'%} {% load static%} {% block sidebarblock%}
<div class="sidebar-wrapper">
  <ul class="nav">
    {% if request.session.role_id == 1 %}
    <li>
      <a href="{% url 'home:statistical' %}">
        <i class="nc-icon nc-bank"></i>
        <p>Thống kê</p>
      </a>
    </li>
    {% endif%}
    <li class="active">
      <a href="{% url 'home:notification' %}">
        <i class="nc-icon nc-bell-55"></i>
        <p>Lịch sử</p>
      </a>
    </li>
    <li>
      <a href="{% url 'home:detail' request.session.people_id %}">
        <i class="nc-icon nc-single-02"></i>
        <p>Thông tin người dùng</p>
      </a>
    </li>
    {% if request.session.role_id == 1 %}
    <li>
      <a href="{% url 'home:tablelist' %}">
        <i class="nc-icon nc-tile-56"></i>
        <p>Người dùng</p>
      </a>
    </li>
    {% endif%}
  </ul>
</div>
{% endblock %} {% block contentblock%}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">User</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Tên</th>
                <th>Thời gian</th>
                <th>Gương mặt</th>
                <th>Thẻ RFID</th>
                <th style="text-align: center">Ảnh</th>
              </thead>
              <tbody>
                {% for item in people%}
                <tr>
                  {% if item.Name == 'Không xác định' %}
                  <td style="color: red">{{item.Name}}</td>
                  {%else%}
                  <td>{{item.Name}}</td>
                  {% endif %}
                  <td>{{item.Time}}</td>
                  <td>
                    {% if item.checkpeople == 1%}
                    <i style="color: green; font-size: 16px; margin-left: 10px" class="nc-icon nc-check-2"></i>
                    {% else %}
                    <i style="color: red; font-size: 16px; margin-left: 10px" class="nc-icon nc-simple-remove"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if item.checkpeople == 0%}
                    <i style="color: green; font-size: 16px; margin-left: 10px" class="nc-icon nc-check-2"></i>
                    {% else %}
                    <i style="color: red; font-size: 16px; margin-left: 10px" class="nc-icon nc-simple-remove"></i>
                    {% endif %}
                  </td>
                  <td style="height: 200px">
                    {% if item.image %}
                    <img
                      alt="Embedded Image"
                      src="data:image/png;base64,{{item.image}}"
                      style="height: 150px; width: 190px; margin-left: 130px"
                    />
                    {%endif%}
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
            <div class="pagination" style="dipslay: flex; justify-content: center">
              <span class="step-links">
                {% if people.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ people.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current"> Page {{ people.number }} of {{ people.paginator.num_pages }}. </span>

                {% if people.has_next %}
                <a href="?page={{ people.next_page_number }}">Next</a>
                <a href="?page={{ people.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Content -->
{% endblock %}
